{% extends 'boards/base.html' %}
{% block body %}
{% load crispy_forms_tags %}
<h1>{{ board.pk }}번째 글</h1>
<h2>{{ board.title }}</h2>
<hr>
<p>{{ board.content }}</p>
<p>{{ board.created_at }}</p>

<a href="{% url 'boards:index' %}">[뒤로]</a>
{% if user == board.user %}
<form action="{% url 'boards:delete' board.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="삭제"/>
</form>
<a href="{% url 'boards:update' board.pk %}">[수정]</a>
{% endif %}


<hr>
<h4>댓글</h4>

<!--comment delete-->
{% for comment in board.comment_set.all %}
<hr>
    <div><b>{{ comment.user }}</b> | {{ comment.content }}
    {% if user == comment.user %}
    <form action="{% url 'boards:comment_delete' comment.pk %}" method="POST" style="display:inline;" onsubmit="return confirm('R U sure?')">
        {% csrf_token %}
        <input type="submit" value="댓글삭제">
    </form></div>
    {% endif %}
{% empty %}
    <p>댓글이 없습니다.</p>
{% endfor %}

<hr>

<!--comment create-->
{% if user.is_authenticated %}
    <form action="{% url 'boards:comment_create' board.pk %}" method="POST">
        {% csrf_token %}
        <!--<input type="text" name="content"/>-->
        {{ comment_form | crispy }}
        <input type="submit" value="댓글 작성"/>
    </form>
{% else %}
    <a href="{% url 'accounts:login' %}">댓글을 작성하려면 로그인 하세요</a>
{% endif %}


{% endblock %}